---
layout: page
permalink: /liuyan/
title: "留言"
description: "畅所欲言，说您想说！"
header-img: "img/post-bg-dutbsyj.jpg"
---

        <hr>
        <div style="background-color:#e8e6e1;
                          border-radius: 10px 10px 10px 10px;
                          -moz-border-radius: 10px 10px 10px 10px;
                          -webkit-border-radius: 10px 10px 10px 10px;
                          border: 1px solid gray;
                          padding:3px 8px 0px 8px;"">
        <ul>
	<li>如您对本小站或本人有任何建议或评价，请您留下您的良思珍言！</li>
	<li>如您对本站的文章有迸发的思想火花，请留下您的万丈光芒！</li>
	<li>如您对我想说太多，请尽快call我，咱们一起把酒言欢！</li>
        </ul>	
	<p>您可以选择匿名留言或登录Github账户留言！「游客及非Github用户」请在上方Valine留言系统留言，「Github登录用户」请在下方Gitalk留言系统留言！您的留言我会尽快回复！</p>
	</div>
	<hr>
	
	       <!-- Valine 评论框 start -->
	       {% if site.valine.enable %}
                      {% include valine_comments.html %}
               {% endif %}
	       <!-- Valine 评论框 end -->
		    
		    
                <!--Gitalk评论start  -->
                {% if site.gitalk.enable %}
                <!-- 引入Gitalk评论插件  -->
                <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
                <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
                <h4 align="left">「Github登录用户留言」：</h4>    
                <div id="gitalk-container"></div>
                <!-- 引入一个生产md5的js，用于对id值进行处理，防止其过长 -->
                <!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
                <script src="{{ site.baseurl }}/js/md5.min.js"></script>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '{{site.gitalk.clientID}}',
                    clientSecret: '{{site.gitalk.clientSecret}}',
                    repo: '{{site.gitalk.repo}}',
                    owner: '{{site.gitalk.owner}}',
                    admin: ['{{site.gitalk.admin}}'],
                    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                    id: md5(location.pathname),
                    });
                    gitalk.render('gitalk-container');
                </script>
                {% endif %}
                <!-- Gitalk end -->
	
	       <!-- intensedebate 评论框 start -->
	       {% if site.intensedebate_comments %}
                      {% include intensedebate-comments.html %}
               {% endif %}
	       <!-- intensedebate 评论框 end -->
         

