---
layout: page
description: "死马当作活马医，再糟，死马还能再死一回！"
---

<!--置顶文章开始-->
{% for post in site.posts %}
  {% if post.istop %}
    {% if paginator.page == 1 %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
            <h2 class="post-title">
                {{ post.title }}<font color="#0085a1">[置顶]</font>
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:200 }}
            </div>
        </a>
        <p class="post-meta">
            作者: {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} | {{ post.date | date: "%Y-%m-%d" }} | {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}" target="_blank"> [{{ tag }}]</a>{% endfor %}
        </p>
    </div>
    <hr>
    {% endif %}
  {% endif %}
{% endfor %}
<!--置顶文章开始-->

<!--普通文档流开始-->
{% for post in paginator.posts %}
{% if post.istop %}
{% else %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        作者: {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} | {{ post.date | date: "%Y-%m-%d" }} | {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}" target="_blank"> [{{ tag }}]</a>{% endfor %}
    </p>
</div>
<hr>
{% endif %}
{% endfor %}
<!--普通文档流开始-->

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 前一页</a>
    </li>
    {% endif %}
    

	
    <li>
    第{{ paginator.page }}页 / 跳第
      <select name="mylink" id="mylink" onchange="window.location=mylink.value">
        <option selected>选择</option>
        <option value="../">1</option>
	{% for page in (2..paginator.total_pages) %}
        <option value="../page{{ page }}/">{{ page }}</option>
	{% endfor %}
      </select>
      页 / 共{{ paginator.total_pages }}页
    </li>
	
	
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">后一页 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}



