<!-- 由于bshare加载的脚本为非https加载，影响用户体验，故建议临时关闭bshare分享按钮 -->
<!--
<div class="bshare-custom">
<div class="bsPromo bsPromo2"></div>
<a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
<a title="分享到QQ空间" class="bshare-qzone"></a>
<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
<a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a>
<a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a>
<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
<span class="BSHARE_COUNT bshare-share-count" style="float: none;">0</span>
</div>
<script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/bshareC0.js"></script>
-->

<!-- 临时使用甲骨文旗下的addthis社交分享 --> 
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<div class="addthis_inline_share_toolbox"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5daa62b11886e991"></script>
