<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://duter2016.github.io" data-a2a-title="优源">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_wechat"></a>
<a class="a2a_button_sina_weibo"></a>
<a class="a2a_button_qzone"></a>
<a class="a2a_button_douban"></a>
<a class="a2a_button_renren"></a>
<a class="a2a_button_copy_link"></a>
</div>
<script>
var a2a_config = a2a_config || {};
a2a_config.locale = "zh-CN";
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<!-- 由于bshare加载的脚本为非https加载，影响用户体验，故建议临时关闭bshare分享按钮 -->

