<!-- AddToAny BEGIN -->
<div>
<a href="https://www.addtoany.com/share#url=https%3A%2F%2Fduter2016.github.io&amp;title=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/a2a.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/wechat?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/wechat.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/sina_weibo?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/sina_weibo.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/qzone?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/qzone.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/douban?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/douban.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/renren?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/renren.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/copy_link?linkurl=https%3A%2F%2Fduter2016.github.io&amp;linkname=%E4%BC%98%E6%BA%90" target="_blank"><img src="https://static.addtoany.com/buttons/link.svg" width="32" height="32" style="background-color:royalblue"></a>
</div>
<!-- AddToAny END -->

<!-- 由于bshare加载的脚本为非https加载，影响用户体验，故建议临时关闭bshare分享按钮 -->

