<h4>2019-10-30</h4>
<p>添加“说说”页面。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-10-27</h4>
<p>添加“书单”页面；在“标签”页面添加“选择跳转标签”浮动按钮。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-10-19</h4>
<p>添加“文章置顶”功能；增加post页面“相关文章”模块。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-10-04</h4>
<p>增加全局“返回顶部”按钮；增加文章页面“编辑”、“查看源码”按钮。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-10-01</h4>
<p>添加首页下拉菜单式分页导航。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-09-20</h4>
<p>增加全站搜索功能。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-09-19</h4>
<p>添加“归档”分页；优化“标签”分页；添加“留言板”分页；整体汉化。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-09-18</h4>
<p>添加Valine评论功能，关闭Intensedebate评论功能；添加网站访问点击量和访问人数功能；添加网站运行时间功能。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-09-16</h4>
<p>为本站点添加网易云音乐单曲和歌单功能；添加Gitalk评论功能；添加Intensedebate评论功能。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2019-09-15</h4>
<p>创建本博客站点！同时，在Gitee建立镜像站点！</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
