{%- if site.valine.appid and
    site.valine.appkey and
    site.valine.placeholder and
    site.valine.notify and
    site.valine.verify and
    site.valine.path and
    site.valine.guest_info and
    site.valine.pageSize -%}

    <div id="vcomments"></div>
    <!--Leancloud 操作库:-->
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库:-->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script>
        new Valine({
            el: '#vcomments',
            appid: '{{ site.valine.appid }}',
            appkey: '{{ site.valine.appkey }}',
            verify: '{{ site.valine.verify }}',
            notify: '{{ site.valine.notify }}' ,
            path: '{{ site.valine.path }}',
            guest_info: '{{ site.valine.guest_info }}',
            pageSize: '{{ site.valine.pageSize }}',
            placeholder: '{{ site.comments.custom.placeholder }}'
        })
    </script>

{%- endif -%}
